﻿@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    /*var product = ViewBag.Product;*/ // Giả sử bạn đã truyền sản phẩm từ controller vào ViewBag
}
@model TH_Project.ViewModel.DetailProductVM




<!-- end slider section -->




<section class="category_section layout_padding" style="display: flex;">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/@Model.SACH.Anhbia" alt="@Model.SACH.Tensach" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <h2>@Model.SACH.Tensach</h2>
                <h4>Giá: @Model.SACH.Giaban</h4>
                <p><strong>Mô tả:</strong> @Model.SACH.Mota</p>

                <div id="Datmua"> <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMasach = @Model.SACH.Masach, @strURL = "GioHang" })" class="btn btn-primary mt-3"> Thêm vào giỏ hàng </a> </div>
            </div>
        </div>
    </div>


</section>

<!-- catagory section -->
<!-- end about section -->
<!-- client section -->
﻿