
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model TH_Project.ViewModel.ProductVM*@
<style>

    table {
        width: 500px;
        height: 250px;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0 10px;
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-top: 20px;
        text-align: center;
    }

        table td {
            padding: 8px;
            font-size: 20px;
            color: darkred;
            font-family: 'Times New Roman', Times, serif;
        }

    input[type="submit"] {
        width: 30%;
        background-color: #4899b7;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        input[type="submit"]:hover {
            background-color: #23946b;
        }
    @*@ViewData{ 
                 color: red;
                 font-size: 10px;
             }*@
</style>




<section class="category_section layout_padding" style="display: flex;">
    @*<div class="cate_pick">
        <h3>Chủ đề sách</h3>
        <ul class="category-list">
            @foreach (var item in Model.cHUDEs)
            {
                <li class="category-item">
                    @Html.ActionLink(item.TenChuDe, "Index", "Product", new { idCD = item.MaCD }, null)

                </li>
            }
        </ul>

        <h3>Nhà xuất bản</h3>
        <ul class="category-list">
            @foreach (var item in Model.nxb)
            {
                <li class="category-item">
                    @Html.ActionLink(item.TenNXB, "Index", "Product", new { idNXB = item.MaNXB }, null)

                </li>
            }
        </ul>
    </div>*@

    <div class="container" style="text-align: center;">
        <h2 style="padding-top: 15px; text-align:center; color: darkred; font-weight: bold; font-family: 'Times New Roman', Times, serif;">ĐĂNG KÝ THÀNH VIÊN</h2>
        <table align="center">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true){
                    <tr>
                        <td>Họ tên khách hàng:</td>
                        <td>
                            @Html.TextBox("HotenKH")

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi1"]</td>
                    </tr>
                    <tr>
                        <td>Tên đăng nhập:</td>
                        <td>
                            @Html.TextBox("TenDN")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi2"]</td>
                    </tr>
                    <tr>
                        <td>Mật khẩu:</td>
                        <td>
                            @Html.Password("Matkhau")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi3"]</td>
                    </tr>
                    <tr>
                        <td>Nhập lại mật khẩu:</td>
                        <td>
                            @Html.Password("Matkhaunhaplai")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi4"]</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            @Html.TextBox("email")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi5"]</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>
                            @Html.TextBox("Diachi")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi6"]</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>
                            @Html.TextBox("Dienthoai")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-size:12px; color: red;">@ViewData["Loi7"]</td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td>
                            <input type="date" name="Ngaysinh" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <input type="submit" value="Đăng Ký"
                        </td>
                    </tr>

                }

            }
        </table>
    </div>

</section>


